   .letter {
    color: rgb(199, 14, 183); /* #008080 */
    font-size: 200%; /* Размер шрифта */
   } 
   h1 {
    color: rgb(199, 14, 183); /* Цвет текста */
   }
   h2 {
    color: rgb(14, 131, 199); /* Цвет текста */
   }
   body{
      background: #a33434;
   }